body{
    margin: 0;
    padding: 0;
}
.slider img{
    filter: brightness(60%);
}
.heading-text{
    font-size: 4.23vw;
}
.paragraph{
    font-size: 1.17vw;
}
.icon{
    border-radius: 50%;
    background-color: #373636cc;
}